@import url("jquery-ui.css");

body {
    background-color:#EEE;
    color:#000;
}
.orange {
    color:#870;
}
a {
    color:#640;
}

.border-bottom {
    border-bottom:1px solid #666;
}
.border-top {
    border-top:1px solid #666;
}
.border-left {
    border-left:1px solid #666;
}
.border-right {
    border-right:1px solid #666;
}
.border {
    border:1px solid #666;
}

.opaque {
    background-color:#EEE;
}
