<form method="post" action="/login" id="login-form">
    <label for="email-input">E-mail</label>
    <input type="text" id="email-input" name="email"/>
    <label for="password-input">Password</label>
    <input type="password" id="password-input" name="password">
    <button type="submit">Unify!</button>
</form>
