<form method="post" action="/class" id="class-form">
	<%Visibility.all.each do |v|%>
		<input type="radio" name="visibility" value="<%=v.id%>"><%=v.name%></input><br/>
	<%end%>
	<span>
		<label for="name">Name</label>
		<input type="text" name="name"/>
	</span><br/>

	<button type="submit">Create Class</button>
</form>
