<form method="post" action="register" id="registration-form">
    <label for="first-name-input">First Name</label>
    <input type="text" name="first_name" id="first-name-input"/>
    
    <label for="second-name-input">Second Name</label>
    <input type="text" name="second_name" id="second-name-input"/>

    <label for="email-input">E-mail Address</label>
    <input type="text" name="email" id="email-input"/>

    <label for="password-input">Password</label>
    <input type="password" name="password" id="password-input"/>

    <button type="submit">Register</button>
</form>
