<%
if @textunit.nil?
%>
<form method="post" action="/textunit" id="textunit-form">
<%
else
%>
   <form method="post" action="/textunit/<%=textunit.id%>" id="textunit-form">
<%
end
%>
    <input type="hidden" name="unit_id" value="<%=@unit.id%>"/>
    <textarea name="text"></textarea>
    <select name="text_unit_type_id">
    <%
    TextUnitType.all.each do |type|
    %>
	<option value="<%=type.id%>"><%=type.name%></option>
    <%
    end
    %>
    </select>
    <button type="submit">
<%
if @textunit.nil?
%>
Submit Text Unit
<%
else
%>
Update Text Unit
<%
end
%>
    </button>
</form>
