<form method="post" action="/class" id="class-form">
	<select name="visibility">
	<%Visibility.all.each do |v|%>
		<option value="<%=v.id%>"><%=v.name%></option>
	<%end%>
	</select>
	<span>
		<label for="name">Name</label>
		<input type="text" name="name"/>
	</span><br/>

	<button type="submit">Create Class</button>
</form>
