<div>
    <span>All Classes:</span>
    
    <%if UClass.all.empty?%>
    <p>No Classes!</p>
    <%else%>
    <ul>
        <%UClass.all.each do |uclass|%>
        <li><a href="class/<%=uclass.name%>"><%=uclass.name%></a></li>
        <%end%>
    </ul>
    <%end%>
</div>
<div>
    <%= erb :_uclass_form %>
</div>
