<div style="margin:10px;">
    <span class="welcome">
        Welcome to <strong>magnif<span class="orange">ide</span></strong>!
    </span><br/>
    <button>Toggle theme</button>
    <a href="#">This is a link</a>
</div>
<div>
	<span>All Classes:</span>
	
	<%if Klass.all.empty?%>
	<p>No Classes!</p>
	<%end%>
	
	<%Klass.all.each do |klass|%>
	<p><%=klass.name%>
	<%end%>
</div>
