<!-- top bar -->
<div id="topbar" class="border-bottom ui-layout-north">
    <div id="settings"><a>Settings</a></div>
    <div id="user-settings" data-user="<%=@current_user.nil? ? "" : @current_user.email%>"><a><%if @current_user.nil?%>Login<%else%><%=@current_user.name%><%end%></a></div>
    <div id="registration-menu-item"><a>Register</a></div>
    <div id="title">unif<span class="orange">ide</span></div>
</div>
<!-- main editor area -->
<div id="fullscreen" class="ui-layout-center" style="width:100%;position:absolute;top:21px;left:0px">
    <div id="editor" style="width:100%;height:100%;">
    </div>
</div>

<!-- dialogues -->
<div id="settings-box" class="border opaque">
    <div class="settings-item"><a id="theme-toggle">Toggle theme</a></div>
    <div class="settings-item"><a href="/projects">Browse Projects</a></div>
</div>
<div id="user-settings-box" class="border opaque">
    <div class="settings-item"><a id="/user">Account Info</a></div>
    <div class="settings-item"><a id="logout">Logout</a></div>
</div>
<div id="user-login-box" class="border opaque">
    <div class="settings-item"><input type="text" id="login-username"/></div>
    <div class="settings-item"><input type="password" id="login-password"/></div>
    <div class="settings-item"><a id="login">Login</a></div>
</div>
<div id="registration-box" style="display:none;">
    <label for="reg-fname">First Name</label><input type="text" id="reg-fname"/>
    <label for="reg-sname">Second Name</label><input type="text" id="reg-sname"/>
    <label for="reg-username">User Name</label><input type="text" id="reg-username"/>
    <label for="reg-email">Email</label><input type="text" id="reg-email"/>
    <label for="reg-password">Password</label><input type="password" id="reg-password"/>
    <label for="reg-password-confirm">Confirm</label><input type="password" id="reg-password-confirm"/>
</div>
