<div style="margin:10px;">
    <span class="welcome">
        Welcome to <strong>magnif<span class="orange">ide</span></strong>!
    </span><br/>
    <button id="theme-toggle">Toggle theme</button>
    <a href="#">This is a link</a>
</div>
<div>
	<span>All Classes:</span>
	
	<%if MClass.all.empty?%>
	<p>No Classes!</p>
	<%else%>
	<ul>
		<%MClass.all.each do |mclass|%>
		<li><a href="class/<%=mclass.name%>"><%=mclass.name%></a></li>
		<%end%>
	</ul>
	<%end%>
</div>
<div>
	<%= erb :_mclass_form %>
</div>
