<div style="margin:10px;">
    <span class="welcome">
        Welcome to <strong>magnif<span class="orange">ide</span></strong>!
    </span><br/>
    <button>Toggle theme</button>
    <a href="#">This is a link</a>
</div>
