<!DOCTYPE html>
<html><head>
<title>unifide</title>
<script type="text/javascript" src="/js/lib/jquery.js"></script>
<script type="text/javascript" src="/js/lib/jquery-ui.js"></script>
<script type="text/javascript" src="/js/lib/jquery-ui-layout.js"></script>
<script type="text/javascript" src="/js/lib/class.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/window.js"></script>
<script type="text/javascript" src="/js/loader.js"></script>
<script type="text/javascript" src="/js/project.js"></script>
<script type="text/javascript" src="/js/action.js"></script>
<script type="text/javascript" src="/js/data.js"></script>
<script type="text/javascript" src="/js/processor/processor.js"></script>
<script type="text/javascript" src="/js/editor.js"></script>
<script type="text/javascript" src="/js/context/context.js"></script>
<script type="text/javascript" src="/js/context/unifide.js"></script>
<script type="text/javascript" src="/js/context/package.js"></script>
<script type="text/javascript" src="/js/context/class.js"></script>
<%
if @debug.nil? == false
%>
<script type="text/javascript">
console.log(
'<%=@debug.to_s.gsub("\n","\\n\\\n").gsub("'","\\\\'")%>'
);
</script>
<%
end
%>

<link rel="stylesheet" type="text/css" href="/css/main.css"/>
<link rel="stylesheet" type="text/css" href="/css/topbar.css"/>
<link title="dark" class="theme" rel="stylesheet" type="text/css"
    href="/css/unifide-dark/theme.css"/>
<link title="light" class="theme" rel="stylesheet" type="text/css"
    href="/css/unifide-light/theme.css" disabled/>

</head><body>
<%= yield %>
</body></html>
