<!DOCTYPE html>
<html><head>
<title>magnifide</title>
<script type="text/javascript" src="/js/lib/jquery.js"></script>
<script type="text/javascript" src="/js/lib/jquery-ui.js"></script>
<script type="text/javascript" src="/js/lib/class.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/project.js"></script>
<script type="text/javascript" src="/js/editor.js"></script>
<script type="text/javascript" src="/js/context.js"></script>

<link rel="stylesheet" type="text/css" href="/css/main.css"/>
<link title="dark" class="theme" rel="stylesheet" type="text/css"
    href="/css/magnifide-dark/theme.css"/>
<link title="light" class="theme" rel="stylesheet" type="text/css"
    href="/css/magnifide-light/theme.css" disabled/>

</head><body>
<%= yield %>
</body></html>
