<!DOCTYPE html>
<html><head>
<title>magnifide</title>
<script type="application/javascript" src="/js/jquery-1.5-min.js"></script>
<script type="application/javascript" src="/js/main.js"></script>
<link rel="stylesheet" type="application/css" href="/css/main.css">
</head><body>
    <%= yield %>
</body></html>
