<!DOCTYPE html>
<html><head>
<title>magnifide</title>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<link rel="stylesheet" type="text/css" href="/css/main.css"/>
<link rel="stylesheet" type="text/css" href="/css/magnifide-dark/jquery-ui.css"/>
</head><body>
    <%= yield %>
</body></html>
