<h1><%=@project.name%></h1>
<h2>The Team</h2>
<ul>
<%
@project.project_users.each do |pu|
%>
    <li><%=pu.user.name%><%if pu.admin%>(admin)<%end%></li>
<%
end
%>
</ul>
<h2>The Units</h2>
<ul>
<%
@project.units.each do |unit|
%>
    <li><%=link_to_unit unit, unit.value%> (<%=unit.unit_type.name%>)</li>
<%
end
%>
</ul>
