body {
    margin:0px;
    font-family:sans;
    font-size:62.5%
}
a {
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
    cursor:pointer;
}

#topbar {
    width:100%;
    height:20px;
    position:relative;
}
#title {
    font-size:150%;
    float:left;
    margin:2px;
}
#settings, #user-settings, #registration-menu-item, #project-menu-item {
    float:right;
    margin:4px;
    margin-right:8px;
}
#settings-box, #user-settings-box, #user-login-box{
    position:absolute;
    top:20px;
    z-index:99;
    display:none;
}
#settings-box {
    right:40px;
}
#user-settings-box, #user-login-box {
    right:0px;
}
.settings-item {
    padding:3px;
}
#user-login-box input {
    width:100px;
    z-index:99;
}
#registration-box label {
    float:left;
    clear:both;
    width:70px;
}
#registration-box input {
    float:left;
}
#toolbox {
    position:fixed;
    float:left;
    height:100%;
    width:150px;
}
.tool {
    width:85%;
    margin:3px;
    padding:5px;
    height:30px;
    z-index:99;
}
.ui-draggable-dragging {
    z-index:100;
    background-color:orange;
    color:black;
}

div.contextDiv {
    position:fixed;
    overflow:hidden;
}

canvas {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
}
