body {
    margin:0px;
    font-family:sans;
    font-size:62.5%
}
a {
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
    cursor:pointer;
}

div.contextDiv {
    position:fixed;
    overflow:hidden;
}

canvas {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
}
