#title {
    font-size:150%;
    float:left;
    margin:2px;
}
#settings, #user-settings, #registration-menu-item, #project-menu-item {
    float:right;
    margin:4px;
    margin-right:8px;
}
#settings-box, #user-settings-box, #user-login-box {
    position:absolute;
    top:20px;
    z-index:99;
    display:none;
}
#settings-box {
    right:0px;
}
#user-settings-box, #user-login-box {
    right:0px;
}
.settings-item {
    padding:3px;
}
#user-login-box input {
    width:100px;
    z-index:99;
}
#registration-box label {
    float:left;
    clear:both;
    width:70px;
}
#registration-box input {
    float:left;
}
